@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F7F4;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
